<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}JOURNAL{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            {% if db == 'prod.db' %}<div class="alert alert-success my-3 text-center small p-1"><strong>PRODUCTION</strong></div>{% endif %}
            {% if db == 'dev.db' %}<div class="alert alert-danger my-3 text-center small p-1"><strong>DEVELOPMENT</strong></div>{% endif %}
            <div class="card p-3 my-3">
                {{ form_start(journal_entry_form, { 'attr': { 'class': 'd-flex justify-content-between' }}) }}
                    {{ form_row(journal_entry_form.startingTime) }}
                    {{ form_row(journal_entry_form.endingTime) }}
                    {{ form_row(journal_entry_form.component) }}
                    <div class="flex-fill">{{ form_row(journal_entry_form.note) }}</div>
                {{ form_end(journal_entry_form) }}
                <div class="row p-3">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>Datum/ Zeit</th>
                                <th>Von</th>
                                <th>Bis</th>
                                <th>Std</th>
                                <th>Componente</th>
                                <th>Eintrag</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in journal_entries %}
                                {% set difference = date(entry.endingTime).diff(date(entry.startingTime ? entry.startingTime : entry.endingTime)) %}
                                <tr>
                                    <td>{{ entry.timestamp.format('d.m.y H:i') }}</td>
                                    <td>{{ entry.startingTime ? entry.startingTime.format('H:i') : '' }}</td>
                                    <td>{{ entry.endingTime ? entry.endingTime.format('H:i') : '' }}</td>
                                    <td>{{ difference.format('%h') }}.{{ (difference.format('%i') / 60 * 10)|round(2)|replace({'.':''}) }}</td>
                                    <td>{{ entry.component.name }}</td>
                                    <td class="w-100">{{ entry.note }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

    <script>
        $("form :input").each(function(index, elem) {
            var eId = $(elem).attr("id");
            var label = null;
            if (eId && (label = $(elem).parents("form").find("label[for="+eId+"]")).length == 1) {
                $(elem).attr("placeholder", $(label).html());
                $(label).remove();
            }
        });
    </script>
</html>
